include ../mixins

section.section.instruction-section
  +headerSection('hero','利用シーン別ガイド','SALES SCOREを様々なシーンでご活用いただく方法をご紹介します。')
  .list-items
    +list('icon-chart','受検者の営業活動の特徴を見える化したい')
    +list('icon-user','ポテンシャルの高い人材を採用したい')
    +list('icon-chart-up','離職率を改善したい')
    +list('icon-search','成績優秀層を分析したい')
    +list('icon-door','自社の特徴を理解したい')
    +list('icon-message','社員のコミュニケーションを改善したい')