include ./mixins
aside.aside-left
  .content-wrapper
    .content-wrapper-inner
      .logo
        img(src="../assets/images/logo.svg", alt="logo")
      .support-site サポートサイト
    ul.list-items
      +listItem('検査結果画面の解説')
      +listItem('主な機能')
      +listItem('利用シーン別ガイド')
      +listItem('初めてご利用の方へ')
      +listItem('FAQ')
      