.menu-toggle
  .menu-mobile
    .menu-mobile-header
      .logo
        img(src="../assets/images/logo.svg", alt="logo")
      button.btn-close 
        img(src="../assets/images/icon-close.svg", alt="icon-close")
    .content-wrapper-search-form
      .content-wrapper-inner
          form.form-search
            .form-item
              span.icon-search 
                img(src="../assets/images/icon-search-form.svg", alt="icon-search")
              input(type="text", placeholder="キーワードを入力")
            button.btn-submit(type="submit") 検索
    ul.list-items
      +listItem('検査結果画面の解説')
      +listItem('主な機能')
      +listItem('利用シーン別ガイド')
      +listItem('初めてご利用の方へ')
      +listItem('FAQ')

    .navbar-right
        a(href="#") 
          span.text ログイン
          span.icon 
            img(src="../assets/images/icon-login.svg", alt="icon-login")
        a(href="#") 
          span.text お問い合わせ
          span.icon 
            img(src="../assets/images/icon-contact.svg", alt="icon-contact")